@inherits LayoutComponentBase

@inject AuthenticationStateProvider _authProvider

<div id="wrapper">
    <nav id="sidebar">
        <div class="site-title"><i class="fa-duotone fa-person-hiking"></i>&nbsp;Trailblazor</div>
        <NavLink class="site-nav-link" href="/gear"><i class="fa-light fa-fw fa-clipboard-list fa-lg"></i>Gear</NavLink>
        <NavLink class="site-nav-link" href="/counter"><i class="fa-light fa-fw fa-backpack fa-lg"></i>Packs</NavLink>
        <NavLink class="site-nav-link" href="/fetchdata"><i class="fa-light fa-fw fa-list fa-lg"></i>Changelog</NavLink>
    </nav>
    <header id="topbar">
        <AuthorizeView>
            <AccountPartial />
        </AuthorizeView>
    </header>
    <main id="content">
        @Body
    </main>
</div>
