//****** Colors ******//
$red: #EA5030;
$orange: #E5691E;
$yellow: #F0AF2C;
$green: #1EB972;
$blue: #0190F8;
$purple: #836DCA;
$cyan: #00D0E8; 

$white: #FFFFFF;
$off-white: #F2F2F2;
$light-grey: #dadada;
$grey: #272B30;
$dark-grey: #1A1C1E;
$black: #111315;

//***** Animations *****//
$transition-duration: .3s;
$transition-timing-function: ease;

//***** Layout *****//
$topbar-height: 100px;