@import "_all";

:root {
    --red: #{ $red };
    --orange: #{ $orange };
    --yellow: #{ $yellow };
    --green: #{ $green };
    --blue: #{ $blue };
    --purple: #{ $purple };
    --white: #{ $white };
    --off-white: #{ $off-white };
    --light-grey: #{ $light-grey };
    --grey: #{ $grey };
    --dark-grey: #{ $dark-grey };
    --black: #{ $black };

    --background-color:   #{ $black };
    --middleground-color: #{ $dark-grey };
    --foreground-color:   #{ $grey };
    --text-color:         #{ $off-white };

    --transition-duration: #{ $transition-duration };
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition-duration: 0s;
}

// Loader

$loader-width: 65px;
$loader-height: 100px;
$square-size: 25px;
$animation-speed: 2s;

.loader {
    position: absolute;
    width: $loader-width;
    height: $loader-height;
    left: calc(50% - #{$loader-width / 2});
    top: calc(50% - #{$loader-height / 2});

    &::before, &::after {
        content: '';
        position: absolute;
        width: $square-size;
        height: $square-size;
        background-color: $blue;
    }

    &::before {
        top: 0;
        left: 0;
        animation: move-and-rotate-before $animation-speed ease infinite;
    }

    &::after {
        bottom: 0;
        right: 0;
        animation: move-and-rotate-after $animation-speed ease infinite;
    }

    @keyframes move-and-rotate-before {
        0% {
            transform: translateX(0) translateY(0) rotate(0turn) scale(1);
        }

        25% {
            transform: translateX($loader-width - $square-size) translateY(0) rotate(-.50turn) scale(.8);
        }

        50% {
            transform: translateX($loader-width - $square-size) translateY($loader-height - $square-size) rotate(-1turn) scale(1);
        }

        75% {
            transform: translateX(0) translateY($loader-height - $square-size) rotate(-1.50turn) scale(.8);
        }

        100% {
            transform: translateX(0) translateY(0) rotate(-2turn) scale(1);
        }
    }

    @keyframes move-and-rotate-after {
        0% {
            transform: translateX(0) translateY(0) rotate(0turn) scale(1);
        }

        25% {
            transform: translateX(($loader-width - $square-size) * -1) translateY(0) rotate(-.50turn) scale(.8);
        }

        50% {
            transform: translateX(($loader-width - $square-size) * -1) translateY(($loader-height - $square-size) * -1) rotate(-1turn) scale(1);
        }

        75% {
            transform: translateX(0) translateY(($loader-height - $square-size) * -1) rotate(-1.5turn) scale(.8);
        }

        100% {
            transform: translateX(0) translateY(0) rotate(-2turn) scale(1);
        }
    }
}
