:root {
  --red: #EA5030;
  --orange: #E5691E;
  --yellow: #F0AF2C;
  --green: #1EB972;
  --blue: #0190F8;
  --purple: #836DCA;
  --white: #FFFFFF;
  --off-white: #F2F2F2;
  --light-grey: #dadada;
  --grey: #272B30;
  --dark-grey: #1A1C1E;
  --black: #111315;
  --background-color: #111315;
  --middleground-color: #1A1C1E;
  --foreground-color: #272B30;
  --text-color: #F2F2F2;
  --transition-duration: 0.3s;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition-duration: 0s;
}

.loader {
  position: absolute;
  width: 65px;
  height: 100px;
  left: calc(50% - 32.5px);
  top: calc(50% - 50px);
}
.loader::before, .loader::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #0190F8;
}
.loader::before {
  top: 0;
  left: 0;
  animation: move-and-rotate-before 1.8s ease infinite;
}
.loader::after {
  bottom: 0;
  right: 0;
  animation: move-and-rotate-after 1.8s ease infinite;
}
@keyframes move-and-rotate-before {
  0% {
    transform: translateX(0) translateY(0) rotate(0turn) scale(1);
  }
  25% {
    transform: translateX(40px) translateY(0) rotate(-0.5turn) scale(0.8);
  }
  50% {
    transform: translateX(40px) translateY(75px) rotate(-1turn) scale(1);
  }
  75% {
    transform: translateX(0) translateY(75px) rotate(-1.5turn) scale(0.8);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(-2turn) scale(1);
  }
}
@keyframes move-and-rotate-after {
  0% {
    transform: translateX(0) translateY(0) rotate(0turn) scale(1);
  }
  25% {
    transform: translateX(-40px) translateY(0) rotate(-0.5turn) scale(0.8);
  }
  50% {
    transform: translateX(-40px) translateY(-75px) rotate(-1turn) scale(1);
  }
  75% {
    transform: translateX(0) translateY(-75px) rotate(-1.5turn) scale(0.8);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(-2turn) scale(1);
  }
}
