.tb-action-button {
  position: relative;
  display: flex;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: none;
  outline: none;
  --shadow-color: #1D1D1F;
  box-shadow: 0.3px 0.5px 0.7px rgba(29, 29, 31, 0.36), 0.8px 1.6px 2px -0.8px rgba(29, 29, 31, 0.36), 2.1px 4.1px 5.2px -1.7px rgba(29, 29, 31, 0.36), 5px 10px 12.6px -2.5px rgba(29, 29, 31, 0.36);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: all;
}
.tb-action-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: all;
}
.tb-action-button ::deep > i {
  margin: auto;
}
.tb-action-button:disabled {
  pointer-events: none;
  filter: grayscale(80%);
}

.tb-action-button-primary {
  background-color: #1B6EC2;
}
.tb-action-button-primary:focus::before {
  box-shadow: 0 0 0 0.2rem rgba(27, 110, 194, 0.7);
}
.tb-action-button-primary ::deep > i {
  color: #F2F2F2;
}

.tb-action-button-secondary {
  background-color: #3D3D3F;
}
.tb-action-button-secondary:focus::before {
  box-shadow: 0 0 0 0.2rem rgba(61, 61, 63, 0.7);
}
.tb-action-button-secondary ::deep > i {
  color: #F2F2F2;
}

.tb-action-button-success {
  background-color: #26C07A;
}
.tb-action-button-success:focus::before {
  box-shadow: 0 0 0 0.2rem rgba(38, 192, 122, 0.7);
}
.tb-action-button-success ::deep > i {
  color: #1D1D1F;
}

.tb-action-button-info {
  background-color: #6F56C2;
}
.tb-action-button-info:focus::before {
  box-shadow: 0 0 0 0.2rem rgba(111, 86, 194, 0.7);
}
.tb-action-button-info ::deep > i {
  color: #1D1D1F;
}

.tb-action-button-warning {
  background-color: #F0AF2C;
}
.tb-action-button-warning:focus::before {
  box-shadow: 0 0 0 0.2rem rgba(240, 175, 44, 0.7);
}
.tb-action-button-warning ::deep > i {
  color: #1D1D1F;
}

.tb-action-button-danger {
  background-color: #FD5B49;
}
.tb-action-button-danger:focus::before {
  box-shadow: 0 0 0 0.2rem rgba(253, 91, 73, 0.7);
}
.tb-action-button-danger ::deep > i {
  color: #1D1D1F;
}

.tb-action-button-light {
  background-color: #F2F2F2;
}
.tb-action-button-light:focus::before {
  box-shadow: 0 0 0 0.2rem rgba(242, 242, 242, 0.7);
}
.tb-action-button-light ::deep > i {
  color: #1D1D1F;
}

.tb-action-button-dark {
  background-color: #1D1D1F;
}
.tb-action-button-dark:focus::before {
  box-shadow: 0 0 0 0.2rem rgba(29, 29, 31, 0.7);
}
.tb-action-button-dark ::deep > i {
  color: #F2F2F2;
}
