@import "../../Styles/_all.scss";

$card-border-radius: 8px;

.tb-card {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background-color: $grey;
    color: $off-white;
    height: 120px;
    border-radius: $card-border-radius;

    @include medium-elevation;
    @include transition-for(all);

    &.tb-card-clickable {
        cursor: pointer;

        &:hover {
            @include high-elevation;
        }
    }

    .tb-card-title {
        padding: 12px 24px;
        border-top-right-radius: $card-border-radius;
        border-top-left-radius: $card-border-radius;
    }

    .tb-card-body {
        flex-grow: 1;
        padding: 0px 24px 8px 24px;
        border-bottom-right-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
    }
}
