.tb-card {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  background-color: #3D3D3F;
  color: #F2F2F2;
  /*height: 120px;*/
  padding: 16px;
  border-radius: 8px;
  --shadow-color: #1D1D1F;
  box-shadow: 0.3px 0.5px 0.7px rgba(29, 29, 31, 0.36), 0.8px 1.6px 2px -0.8px rgba(29, 29, 31, 0.36), 2.1px 4.1px 5.2px -1.7px rgba(29, 29, 31, 0.36), 5px 10px 12.6px -2.5px rgba(29, 29, 31, 0.36);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: all;
}
.tb-card.tb-card-clickable {
  cursor: pointer;
}
.tb-card.tb-card-clickable:hover {
  --shadow-color: #1D1D1F;
  box-shadow: 0.3px 0.5px 0.7px rgba(29, 29, 31, 0.36), 0.8px 1.6px 2px -0.8px rgba(29, 29, 31, 0.36), 2.1px 4.1px 5.2px -1.7px rgba(29, 29, 31, 0.36), 5px 10px 12.6px -2.5px rgba(29, 29, 31, 0.36);
}
.tb-card .tb-card-title {
  font-weight: bold;
  /*padding: 12px 24px;*/
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.tb-card .tb-card-body {
  flex-grow: 1;
  padding: 12px 0 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tb-card-primary {
  background-color: #1B6EC2;
  color: #F2F2F2;
}

.tb-card-secondary {
  background-color: #3D3D3F;
  color: #F2F2F2;
}

.tb-card-success {
  background-color: #26C07A;
  color: #1D1D1F;
}

.tb-card-info {
  background-color: #6F56C2;
  color: #1D1D1F;
}

.tb-card-warning {
  background-color: #F0AF2C;
  color: #1D1D1F;
}

.tb-card-danger {
  background-color: #FD5B49;
  color: #1D1D1F;
}

.tb-card-light {
  background-color: #F2F2F2;
  color: #1D1D1F;
}

.tb-card-dark {
  background-color: #1D1D1F;
  color: #F2F2F2;
}
