@import "../../Styles/_all.scss";

$card-border-radius: 8px;

.tb-card {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background-color: $grey;
    color: $off-white;
    /*height: 120px;*/
    padding: 16px;
    border-radius: $card-border-radius;

    @include medium-elevation($black);
    @include transition-for(all);

    &.tb-card-clickable {
        cursor: pointer;

        &:hover {
            @include medium-elevation($black);
        }
    }

    .tb-card-title {
        font-weight: bold;
        /*padding: 12px 24px;*/
        border-top-right-radius: $card-border-radius;
        border-top-left-radius: $card-border-radius;
    }

    .tb-card-body {
        flex-grow: 1;
        padding: 12px 0 0;
        border-bottom-right-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
    }
}

@each $key, $val in $color-map {
    .tb-card-#{$key} {
        background-color: $val;
        color: lookup-text-color($val);
    }
}