@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount.ToString()</p>

<button class="btn btn-primary" @onclick="IncrementCounter">Click me</button>

@code {
    private static int _currentCount = 0;

    public void IncrementCounter()
    {
        _currentCount++;
    }
}
