@page "/gear"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Trailblazor.Shared.ViewModels
@inject HttpClient Http
@attribute [Authorize]

<h3>Gear</h3>

<button type="button" class="btn btn-primary" @onclick="OnClick">Click me!</button>

<div class="row mt-3">
    <div class="col">
        <Card Theme="Color.Primary" ClickAction="() => { }">
            <CardTitle>Card Title</CardTitle>
            <CardBody>
                Card Body
            </CardBody>
        </Card>
    </div>
    <div class="col">
        <Card>
            <CardTitle>Card Title</CardTitle>
            <CardBody>
                Card Body
            </CardBody>
        </Card>
    </div>
    <div class="col">
        <Card>
            <CardTitle>Card Title</CardTitle>
            <CardBody>
                Card Body
            </CardBody>
        </Card>
    </div>
    <div class="col">
        <Card>
            <CardTitle>Card Title</CardTitle>
            <CardBody>
                Card Body
            </CardBody>
        </Card>
    </div>
</div>

@code {
    public List<GearItemViewModel> GearItems { get; set; } = new();

    private async Task OnClick()
    {
        try
        {
            var gearItems = await Http.GetFromJsonAsync<IEnumerable<GearItemViewModel>>("/api/GearItem");

            if (gearItems is not null)
                GearItems.AddRange(gearItems);
        }
        catch (AccessTokenNotAvailableException accessTokenException)
        {
            accessTokenException.Redirect();
        }
    }
}
