@page "/gear"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Trailblazor.Shared.ViewModels
@inject HttpClient Http

<h3>Gear</h3>


<button type="button" class="btn btn-primary" @onclick="OnClick">Click me!</button>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gearItem in _gearItems)
        {
        <tr>
            <th>@gearItem.Name</th>
            <th>@gearItem.Description</th>
            <th>@gearItem.Weight.ToString()</th>
        </tr>
        }
    </tbody>
</table>

@code {
    private readonly List<GearItemViewModel> _gearItems = new();

    private async Task OnClick()
    {
        try
        {
            var gearItems = await Http.GetFromJsonAsync<IEnumerable<GearItemViewModel>>("/api/GearItem");

            if (gearItems != null)
                _gearItems.AddRange(gearItems);
        }
        catch (AccessTokenNotAvailableException accessTokenException)
        {
            accessTokenException.Redirect();
        }
    }
}
