@page "/"
@inject NavigationManager NavManager

<h1>Welcome!</h1>
<h3>This is the home page. Click on one of the links in the sidebar to get started.</h3>

@code { 
    //protected override void OnInitialized()
    //{
    //    NavManager.NavigateTo("/gear");
    //    base.OnInitialized();
    //}
}
